[Unit]
Description=Meter service

[Service]
User=pi
Group=pi
ExecStart= {$CMD}
WorkingDirectory= {$PATH}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=process
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
